<section>
  <div class="row container-father">
    <div class="row justify-content-center" style="margin-top: 40px">
      <div class="col d-flex justify-content-around">
        <h3>Projetos</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <button (click)="newProject()" class="btn-new-project">
          Novo Projeto +
        </button>
      </div>
    </div>
    <div class="col">
      <div style="height: 350px">
        <ul class="mb-0">
          <li class="d-flex" *ngFor="let item of projectsList">
            <div class="list-content">
              <div class="column-list">
                <strong (click)="editProject(item.id)" class="name-list"
                  >{{ item.nome }}
                </strong>
              </div>
              <div class="column-list d-flex justify-content-center">
                <label>{{ item.descricao }}</label>
              </div>
              <div class="column-list d-flex justify-content-end">
                <button (click)="deleteProject(item.id)">
                  <img
                    src="assets/icon_trash.svg"
                    alt="icon trash"
                    class="img-trash"
                  />
                </button>
                <button (click)="editProject(item.id)">
                  <img
                    src="assets/icon_to_edit.svg"
                    alt="icon to edit"
                    class="img-to-edit"
                  />
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
