.container-master {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(151, 81, 137);
  width: 100%;
  align-items: center;
}

img {
  margin: 10px 10px 10px 10px;
}
