<section>
  <div class="container-father">
    <form [formGroup]="formRegister">
      <div>
        <div class="mb-3">
          <label class="form-label title-input">Nome:</label>
          <input type="text" formControlName="title" class="form-control" />
        </div>
      </div>
      <div>
        <div class="mb-3">
          <label class="form-label title-input">Descricao:</label>
          <input
            style="height: 110px"
            formControlName="description"
            type="text"
            class="form-control"
          />
        </div>
        <div class="mb-3">
          <label class="form-label title-input">Status:</label>
          <select formControlName="status" class="form-select">
            <option value="Em fila">Em fila</option>
            <option value="Concluida">Concluida</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div style="display: flex; justify-content: end">
          <button
            class="btn btn-primary btn-new-project"
            type="button"
            (click)="goBack()"
          >
            Cancelar
          </button>
          <button
            class="btn btn-primary"
            type="submit"
            (click)="saveEditTask()"
          >
            Salvar
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
