section {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  height: 580px;
}

.container-father {
  display: flex;
  flex-direction: column;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  width: 60%;
  background-color: #cfcfcf;
  border-radius: 20px;
}

h3 {
  font-family: Poppins;
  font-weight: 800;
  font-size: 35px;
  color: #5c5c5c;
}

button {
  color: #ffffff;
  width: 130px;
  height: 40px;
  background-color: #0da1ac;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border: none;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    border-color: #eeeeee;
    background-color: #4c4d4c;
  }
}

.btn-new-project {
  background-color: #e78617 !important;
}

.btn-new-project:disabled {
  opacity: 0.5;
}

/* Mobile Devices */
@media (max-width: 480px) {
}

/* Low resolution Tablets and iPads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Tablets iPads (Portrait) */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
}
@media (min-width: 1201px) and (max-width: 1280px) {
}

/* Big boi Monitors */
@media (min-width: 1281px) {
}
