<div class="container">
  <form>
    <label class="title-card">Login</label>
    <div class="mb-3">
      <label class="form-label title-input">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label class="form-label title-input">Senha</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="d-flex justify-content-between">
      <div class="">
        <label (click)="forgotPassword()">Esqueci minha senha?</label>
      </div>
      <div class="">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
        <button type="submit" (click)="login()" class="btn btn-primary">
          Entrar
        </button>
      </div>
    </div>
  </form>
</div>
