<section>
  <div class="row container-father">
    <div class="row justify-content-center" style="margin-top: 40px">
      <div class="col d-flex justify-content-around">
        <h3>Projetos</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <button (click)="newTask()" class="btn-new-project">
          Nova Tarefa +
        </button>
      </div>
    </div>
    <div class="col">
      <div style="height: 350px">
        <ul class="mb-0">
          <li class="d-flex" *ngFor="let item of listTask">
            <div class="list-content">
              <div class="column-list">
                <input
                  class="form-check-input mt-0 check-box-trash"
                  type="checkbox"
                  value=""
                />
                <strong class="name-list">{{ item.titulo }} </strong>
              </div>
              <div class="column-list d-flex justify-content-center">
                <label>{{ item.description }}</label>
              </div>
              <div class="column-list d-flex justify-content-end">
                <button>
                  <img
                    src="assets/icon_trash.svg"
                    alt="icon trash"
                    class="img-trash"
                  />
                </button>
                <button>
                  <img
                    src="assets/icon_to_edit.svg"
                    alt="icon to edit"
                    class="img-to-edit"
                  />
                </button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center" style="margin-top: 40px">
      <div class="col pagination justify-content-center">
        <button class="btn-pagnation"><</button>
        <span>Página 1 de 2</span>
        <button class="btn-pagnation">></button>
      </div>
      <div class="col d-flex justify-content-end" style="margin-left: 20px">
        <button (click)="goBack()" class="btn-go-back">Voltar</button>
      </div>
    </div>
  </div>
</section>
